* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #4CAF50;
  color: white;
  display: flex;
  align-items: center; /* 垂直居中 */
}

header h1{
    margin-left:10px;
}

.logo-container {
  display: flex;
  margin-left: 0px; /* 右对齐 */
}
.logo-container img {
  width: 50px; /* 图片宽度，根据需要调整 */
  height: 50px; /* 图片高度，根据需要调整 */
  margin-left: 10px; /* 图片间距，根据需要调整 */
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

a {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto 0;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #ddd;
}
